body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  background-color: #36454f;


  }

 header .favicon {
    width: 190px;
    height: 120px; 
    object-fit: cover;
    padding-left: 50px;

}
.favicon {
    padding-bottom: 10px;
    margin-top: 30px;
}



  
  header h1 {
    color:#fff ;
    font-size: 2.1em;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 0px;
    padding-bottom: 10px
  }
h3 {
    font-family: cursive;
    color: #fff;
    font-size: 2em;
}
 

.knav-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
 }

knav {
  background-color: #333333;
  height: 70px;
  margin-top: -15px;

}
knav a {
  color: #fff;
  text-decoration: none;

  font-size: 1.5rem;
  margin-top: 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: #555;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.knav-menu {
  padding-top: 15px;
}

  
  .khamburger {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .khamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
  }
  
  #knav-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #knav-menu.show-menu {
    display: block;
  }
   

  .navbar {
  
    padding: 2rem;
    background-color: #333333;
    color: #fff;
}

.hamburger {
  display: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;

}



.nav-links a {
    padding: 1rem;
    text-decoration: none;
    color: #fff;
    list-style: none;
}



  .member img {
    display: block;
    margin: 0 auto;
  }
  
  .member {
    text-align: center;
  }

img {
  max-width: 250px;
  max-height:150px;
  text-align: center;
}

  
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  #directory {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  
  #directory.list-view {
    grid-template-columns: 1fr;
  }
  
  .directory-card {
    background-color: #f7f7f7;
    padding: 1rem;
    border: 1px solid #ddd;
  }
  
  .directory-card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
  }
  

  

.view {
    display: flex;
    margin-bottom: 10px;
}

.view {
    height: 50px;
    color: #FF9800;
}


#member-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.member {
    background-color: #fff;
    padding: 1em;
    border: 1px solid #ddd;
    margin-bottom: 1em;
}

.member img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}





.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #36454f;

  }
  .footer-c {
    padding-left: 50px;
  }
  
.footer-messages {
    padding-right: 50px;
}

.social {
    margin-top: 10px;
    padding: 20px;
}

footer p {
    font-size: 1.30em;
    color: white;
    padding-top: 20px;
}

#lastModified {
    font-size: 1rem;
    text-align: center;
}
 
  
  @media (max-width: 768px) {
    #directory {
      grid-template-columns: repeat(1,  1fr);
    }
  
    
      .directory-card img {
        width: 50%;
        height: 50px;
        object-fit: cover;
        border-radius: 10px;
      }

      .hamburger {
        display: block;

      }
      .nav-links {
        position: absolute;
        top: 60%;
        left: 0;
        width: 100%;
        flex-direction: column;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links a {
      padding: 10px;
    }

    .nav-links.open {
      display: flex;
      flex-direction: column;
  }

      
      .hamburger {
        display: block;

      }
    
    
      .knav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        background-color: #333333;
        padding: 1em;
      }
    
      .knav-menu.show {
        display: block;
      }
    
      .knav-menu li {
        margin-bottom: 10px;
      }

 
    h1 {
        font-size: 1.2em;

    
  }
    
  header {
    flex-direction: row;
    padding: 0.5em;
  }

  .favicon {
    width: 20px;
    margin-right: 5px;
  }



    h3 {
      font-size: 1.2;
    }  
      
      main{
        width: 100%;
        height: auto
      }
      
    
      .footer-container {
        display: flex;
        width: 100%;
      }
      #lastModified {
          font-size: 1rem;
      }
      social img {
      width: 20px; 
      height: 10px;
      text-align: center;
      
        }
      .both-container {
        display: block;
      }
  
   

}
