.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.gallery-card {
    display: grid;
    grid-template-areas:
        "title"
        "image"
        "address"
        "description"
        "button";
    gap: 10px;
}

.gallery-card img {
    grid-area: image;
    width: 150px;
    padding-left: 50px;    
}

.gallery-card h2 {
    grid-area: title;
    text-align: center;
    padding: 10px;
}



.gallery-card address {
    grid-area: address;
}

.gallery-card p {
    grid-area: description;
    padding-left: 10px;
}

.gallery-card button {
    grid-area: button;
}

@media (min-width: 641px) and (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1025px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}


.gallery-card img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 640px) {
    .gallery-card img:hover {
        transform: none;
    }
}
