.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 100vw;
    overflow-x: hidden;
}

.gallery-card {
    display: grid;
    grid-template-areas:
        "title"
        "image"
        "address"
        "description"
        "button";
    gap: 10px;
}

h6{
    font-size: 2em;
    color: #fff;
}
.gallery-card img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    object-position: center;
}

.gallery-card h2 {
    grid-area: title;
    text-align: center;
    padding: 10px;
}

button {
    background-color: #C9E4CA;
}

.gallery-card address {
    grid-area: address;
}

.gallery-card p {
    grid-area: description;
    padding-left: 10px;
}

.gallery-card button {
    grid-area: button;
}

@media (min-width: 641px) and (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-card {
        grid-template-areas: 
        "image title"
        "image address"
        "description description"
        "button button";
        grid-template-columns: 1fr 2fr;
    }
}

@media (min-width: 1025px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    .gallery-card {
        grid-template-areas: 
        "image image title"
        "image image address"
        "description description description"
        "button button button";
    }
}


.gallery-card img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 640px) {
    .gallery-card img:hover {
        transform: none;
    }
}
@media (max-width: 768px) {

.nav-links {
        display: none;
        position: absolute;
        left: 0;
        background-color: #333;
        width: 100%;
        padding: 20px;
      }
    
    

  .navbar {
    display: block;
    padding: 1rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-links ul {
    display: block;
  }
  h6{
    font-size: 20px;
    color: #fff;
}
}

@media (max-width: 320px) {
  .nav-links {
    top: 40px;
    padding: 10px;
  }

  .nav-links li {
    margin-bottom: 10px;
  }
}


.show-menu {
  display: block;
}

