* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    
    
    body {
        font-family: "Sansita", sans-serif;
    }
    
    header {
        background-color: #36454f;	
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border: 1px solid rgb(0 0 0 / 0.1);
        font-family: 'Times New Roman', Times, serif;
    
    }
    
    h1 {
        color: #fff;
    }
    
    header,
    main {
        margin: 0 auto;
    }
    .pics{
    max-width: 200px;
    padding-right: 50px;
    }
    
    h1 {
        font-size: 2.5rem;
    
    }
    
    
    nav {
        background-color: #008000;
        margin: 0 auto;
        font-size: 1.5rem;
        font-family: "PT Sans", sans-serif;
    
    }
    nav ul {
        list-style-type: none;
    }
    nav a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }
    
    nav a:hover {
        color: yellowgreen;
    }
    
    .cus {
        
        display: flex;
        justify-content: space-around;
    
    .wor {
        border-style: ridge;
        width: 780px;
        height: 650px;
        margin-top: 20px;
        border-radius: 0px;
        margin-left: 35px;
    }
    h2 {
        text-align: center;
        background-color: #008000;
        height: 70px;
        font-size: 1.7rem;
        color: #fff;
        padding-top: 12px;
    
        
    }
    
    .dot::after {
        content: '\2807';
        align-content: space-around;
    
        font-size: 60px;
        margin-left: 40px;
        line-height: 400px;
        
    }
    .city {
    
        border-style: ridge;
        width: 620px;
        height: 650px;
        margin-top: 20px;
        border-radius: 0px;
        margin-right: 35px;
    
        
    }
    h3 {
        text-align: center;
        background-color: #008000;
        height: 70px;
        font-size: 1.7rem;
        color: #fff;
        padding-top: 12px;
    }
    
    .abj {
        width: 400px;
        height: 400px;
        margin-top: 75px;
        margin-left: 90px;
    }
    figure {
        margin-left: 175px;
        margin-top: 10px;
    }
    }
    .active {
        color: yellow;
    }
    
    h4 {
        background-color: #008000;
        height: 70px;
        font-size: 1.7rem;
        text-align: center;
        color: #fff;
        padding-top: 14px;
        margin-top: 20px;
    
    }
    
    #button {
        display: flex;
        justify-content: center;
        gap: 10px;
        

    }
   
    
    
    button {
        background-color: #36454f;
        color: #fff;
        padding: 10px 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1.2rem;
        width: 170px;


    }
    
    #course-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        grid-column-gap: 0px ;
        justify-content: center;
        justify-items: center;

        
    }
    
    button:hover{
        background-color: darkmagenta;
    }
    
    
    .card {
        width: 300px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 30px;
        font-size: 1.7rem;
        margin-left: 20px;
    }
    
    .card.completed {
        background-color: #36454f; 
    }
    
    #total-credits {
        font-weight: bold;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .card h5 {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        
    }
    
      .course-card h5 {
        margin-top: 0;
      }
    
      .course-card p {
        margin-bottom: 10px;
      }
    
    
     
    
      #fit {
        display: flex;
        justify-content: center;
        padding: 10px, 20px;
      }
    
    #im {
        max-width: 70px;
        margin-left: 40px;
        margin-top: 15px;
    }
    
    
    footer {
        background-color: #36454f;
        text-align: center;
        height: 90px;
    }
    
    footer p {
        font-size: 1.50em;
        color: white;
        margin-top: 15px;
    }
    
    #lastModified {
        margin-top: 15px;
        color: wheat;
        font-size: 1rem;
        text-align: center;
    }
    
    /* Larger Views ******************************/
    @media (min-width: 640px) {

     
        nav ul {
            display: flex;
        }
        nav ul li {
            flex: 1 1 100%;
        }
    
    
    }
    
   
    
    
    

    
    /* Mobile devices */
    @media only screen and (max-width: 768px) {
    body {
    font-size: 14px;
    }
    header {
    padding: 10px;
    }
    h4 {
        font-size: 1.2rem;
    }
    nav {
    padding: 5px;
    }
    .abj {
        width: 350px;
    }
   
    button {
        position: relative;
    }
    main {
    padding: 10px;
    }
    .pics {
    max-width: 150px;
    }
    .wor {
        flex-direction: column;
        align-items: center;
    } 
    .card.completed {
        background-color: yellow; 
    }
    footer {
        height: 90px;
    }
    
    }
    
    /* Tablet devices */
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
    body {
    font-size: 16px;
    }
    header {
    padding: 15px;
    }
    nav {
    padding: 10px;
    }
    main {
    padding: 15px;
    }
    .pics {
    max-width: 200px;
    }
    
    }
    
    
